@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Povo... Estou na WEB!!!/n/nEssa bosta desse Azure não é nada intuitivo/n/nFilho da Puta</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
